body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin: 20px 0;
}

header img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    color: #333;
}

form {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
}

select, input[type="radio"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.alternativas {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.alternativa {
    margin-right: 20px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

button:hover {
    background-color: #45a049;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto {
    flex: 1 0 48%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.produto:hover {
    transform: scale(1.03);
}

#resultado {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
}

footer p {
    margin: 0;
    color: #666;
}

input[type="radio"] {
    width: 20px; /* Ajuste o valor conforme necessário */
    height: 20px; /* Ajuste o valor conforme necessário */
}